@import "tailwindcss";
@import "@fontsource/inter";

body {
  font-family: "Inter", sans-serif;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af #e5e7eb;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 4px;
}

